<h1>New User</h1>

<%= form_for @user do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<ul>
<% Newspaper.all.each do |paper| %>
<li>
    <%= paper.title %>
    <%=select_tag 'subscription_ids[]', options_from_collection_for_select(
    paper.subscription_plans, 'id', 'cost'), :include_blank => true %>
  </li>
  <% end %>
</ul>

<%= f.submit %>
<% end %>
