<h1>New Newspaper</h1>

<%= form_for @newspaper do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :editor %>
  <%= f.text_field :editor %>

  <h2>Subscription Plans</h2>
  <%= f.fields_for(:subscription_plans) do |plan_form| %>
    <form>
      <%= plan_form.label :price, "Enter price in cents" %>
      <input type="text"><%= plan_form.number_field :price %></input>

      <label class="radio">
        Daily<%= plan_form.radio_button(:is_daily, true, :checked=>true)%>
      </label>
      <label class="radio">
      Weekly<%= plan_form.radio_button(:is_daily, false)%>
      </label>
      </form>
  <% end %>

  <div>
    <%= f.submit "MAKE NEWSPAPER" %>
  </div>

<% end %>